$blue-pastel: rgba(119, 158, 203, 1);

$red-button: rgba(255, 105, 97, 1);
$red-button-background: rgba(255, 105, 97, 0.15);

$green-button: rgba(119, 190, 119, 1);
$green-button-background: rgba(119, 190, 119, 0.15);
