h1 {
  color: $blue-pastel;
}

button {
  width: 120px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;

  &.red {
    border: 2px solid $red-button;
    background-color: $red-button-background;
  }

  &.green {
    border: 2px solid $green-button;
    background-color: $green-button-background;
  }
}

button + button {
  margin-left: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.subtitle {
  animation: fadeIn 500ms infinite alternate;
}
