// Common styles.

* :focus {
  outline: 0;
}

.home-button + .home-button {
  margin-left: 10px;
}

h1 {
  color: rgba(119, 158, 203, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.subtitle {
  animation: fadeIn 500ms infinite alternate;
}
